$default-button-color: #1B85BF;
$default-button-text-color: #FFF;
$plain-button-color: #FFF;
$plain-button-text-color: #000;
$aa-blue: #006cc4;

.button-default {
  border: none;
  color: $default-button-text-color;
  padding: 10px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 4px;
  background-color: $default-button-color;
}

.button-plain {
  @extend .button-default;
  border: 1px solid #CCC;
  color: $plain-button-text-color;
  background-color: $plain-button-color;
}

.button-logout {
  @extend .button-default;
  position: absolute;
  top: .5rem; right: .5rem;
}

.button-dashboard {
  width: 80%;
  margin: 8px 0 0 47%;
  border: none;
  color: white;
  background-color: $aa-blue;
}

.button-back {
  width: 80%;
  margin: 8px 0 0 47%;
  border: none;
  color: white;
  background-color: $aa-blue;
}
