$default-button-color: #777;
$default-button-text-color: #fff;
$plain-button-color: #96A7B0;
$plain-button-text-color: #fff;
$aa-blue: #006cc4;
$aa-light-blue: #37ACF4;
$aa-grey: #96A7B0;
$grey: #999;
$darkgrey: #666;

.clear-list-button {
   margin: 0 0 10px 0;
   background-color: rgba(0,0,0,0);
   color: #006CC4;
   border: none;
}

.logout-text-button:hover {
  transform: scale(1.05);
}

.button-default {
  border: none;
  color: $default-button-text-color;
  padding: 10px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 4px;
  background-color: $aa-blue;
}

.button-plain {
  @extend .button-default;
  // border: 1px solid #CCC;
  color: $plain-button-text-color;
  background-color: $plain-button-color;
}

.button-plain:hover,
.button-default:hover,
.button-dashboard:hover,
.button-logout:hover,
.button-back:hover
{
  transform: scale(1.02);
}

.button-dashboard,
.button-logout,
.button-back {
  width: 80%;
  margin: 5% 0 0 15%;
  border: none;
  color: white;
  background-color: $aa-blue;
}

.button-logout {
  background-color: $grey;
}

.add-edit-button {
  font-family: Arial;
  color: $grey;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.plus-symbol {
  line-height: 16px;
}

.plus-symbol:hover {
  transform: scale(1.1);
}

.add-edit-button > .plus-symbol {
  font-family: Arial;
  display: inline-block;
  background-color: #fff;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  line-height: 16px;
  border: 2px solid $aa-blue;
  color: $aa-blue;
  cursor: pointer;
}

.add-edit-button-text-content {
  display: inline-block;
  font-size: .7rem;
}

.x-button {
  @extend .add-edit-button;
  color: $grey;
  border-color: $grey;
  user-select: none;
  text-align: center;
}

.x-button:hover {
  transform: scale(1.02);
}

.x-button > .x-button-x-symbol {
  @extend .plus-symbol;
  color: $grey;
  border-color: $grey;
  user-select: none;
  line-height: 15px;
}

.select-by-button {
  border: none;
  color: $darkgrey;
  background-color: #fff;
}

.check-button {
  border: none;
  background-color: rgba(0,0,0,0);
}

.check-button-image:hover {
  transform: scale(1.05);
}

.check-button-inner {
  @extend .add-edit-button;
}

.check-button-inner-text {
  display: inline-block;
  background-color: #fff;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  line-height: 14px;
  color: $aa-blue;
  cursor: pointer;
  font-size: .75rem;
  text-align: center;
  transform: scale(2);
  border: 1px solid $aa-blue;
}

.dashboard-menu-button {
  background-color: rgba(0,0,0,0);
  border: none;
  color: $grey;
  font-size: 1.8rem;
  padding: 30px 0 30px 0;
  border-bottom: 1px solid $grey;
  font-weight: lighter;
  text-align: left;
  width: 85%;
}

.button-confirm {
  color: #fff;
  border: none;
  background-color: #006CC4;
}

.button-decline {
  color: #fff;
  border: none;
  background-color: #D4281E;
}
