$grey: #999;

html,
body {
  width: 150%;
}

.white-backing {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: #fff;
}

.subtitle {
  color: $grey;
  font-weight: lighter;
  font-size: .85rem;
}

.map-type-title {
  color: $grey;
  font-weight: lighter;
  font-size: 2rem;
}

.warning-required {
  font-size: .75rem;
  color: red;
}

.modal-loggedout,
.modal-success,
.modal-registered,
.modal-errored {
  padding: 40px;
}

.modal-success {
  background-color: green;
}

.modal-registered {
  background-color: #1B85BF;
}

.modal-errored {
  background-color: red;
}

.modal-loggedout {
  background-color: yellow;
}
