
.warning-required {
  font-size: .75rem;
  color: red;
}

.modal-loggedout,
.modal-success,
.modal-registered,
.modal-errored {
  padding: 40px;
}

.modal-success {
  background-color: green;
}

.modal-registered {
  background-color: blue;
}

.modal-errored {
  background-color: red;
}

.modal-loggedout {
  background-color: yellow;
}
