html, body {
  -webkit-font-variant-ligatures: normal;
  font-variant-ligatures: normal;
}

.listview-logo-container {
  height: 100px;
  position: relative;
}

.listview-logo {
  // float: right;
  width: 30%;
  top: 50px; right: 50px;
  position: absolute;
}

.listview-column {
  padding: 0 7.5px 0 7.5px;
}

.listview-divider {
  opacity: .35;
}

.listview-region {
  font-size: 1.5rem;
}

.listview-city {
  padding: 0 0 0 15px;
  margin: 0 0 0 2px;
  font-size: 11px;
}

.listview-content {
  width: 800px;
  height: 100%;
  margin: auto;
  display: block;
  left: 0; right: 0;
  overflow-y: scroll;
  background-color: #fff;
  border-left: 1px solid #ccc;
  // font-variant: normal;
  // letter-spacing: 1;
  // position: absolute;
}

// allow html2canvas to render entire div content
.listview-content-rendering {
  height: 3000px !important;
}

.listview-main-content {
  width: 90%;
  margin: auto;
  display: block;
  position: relative;
  left: 0; right: 0;
  background-color: #fff;
}

.listview-title-content {
  width: 90%;
  margin: auto;
  display: block;
  position: relative;
  left: 0; right: 0;
}

.listview-origin-title {
  font-size: 10rem;
  display: inline-block;
  text-align: center;
  line-height: 20rem;
  font-weight: 500;
}

.listview-origin-title-divider {
  @extend .listview-origin-title;
  font-size: 4rem;
  font-weight: lighter;
  transform: scaleY(2);
}

.listview-origin-title-divider-inner {
  position: absolute;
  margin-top: -195px;
  margin-left: 40px;
}

.listview-origin-subtitle {
  font-size: 20px;
  text-align: left;
  display: inline-block;
  font-weight: 500;
}

.listview-origin-subtitle-inner {
  position: absolute;
  margin-top: -84px;
  margin-left: 80px;
}

.listview-destinations-list {
}
