html,
body {
  margin: 0;
  overflow: hidden;
}

svg {
  margin: auto;
  display: block;
}

.context-menu-container {
  top: 0;
  color: #666;
  width: 200px;
  position: absolute;
  border-radius: 2px;
  // font-weight: lighter;
  background-color: #fff;
  border: 1px solid #999;
}

.context-menu-x-button {
  transform: scale(1.0);
}

.context-menu-x-button:hover {
  transform: scale(1.2);
  transition: transform .15s ease-out;
}

.context-menu-title {
  margin-left: 4px;
  font-size: .85rem;
  color: #222;
  // font-weight: bold;
}

.context-menu-label-position-type-title,
.context-menu-label-display-type-title {
  color: #444;
  margin-left: 8px;
  font-size: .8rem;
  // font-weight: bold;
}

.context-menu-label-position-type-option,
.context-menu-label-display-type-option {
  transform: translateX(0);
  font-size: .75rem;
  margin-left: 12px;
  cursor: pointer;
}

.context-menu-label-position-type-option:hover,
.context-menu-label-display-type-option:hover {
  color: #999;
  transform: translateX(2px);
  transition: transform .1s ease-out;
}

.context-menu-label-position-type-option::before,
.context-menu-label-display-type-option::before {
  content: '\2022\00A0';
}
