.my-map-option {
  color: #006CC4;
  cursor: pointer;
  transform: translateX(0);
}

.my-map-option:hover {
  color: #37ACF4;
  transform: translateX(2px);
  transition: transform .25s ease-out, color .25s ease-out;
}

.map-tile {
  text-align: center;
  font-size: .8rem;
  margin: 4% 5% 0 5%;
  padding-bottom: 4px;
  border-radius: 4px;
  cursor: pointer;
  color: #006CC4;
  background-color: #fff;
  border: 2px solid #006CC4;
  width: 90%;
}

.my-map-tile:hover {
  // transform: scale(1.05);
}

.x-button-map-tile:hover {
  color: #fff !important;
  border-color: #fff !important;
}

.x-button-x-symbol-map-tile:hover {
  color: #fff !important;
  background-color: #CC271E;
}

.scrollable {
  scrollbar-color: #006CC4 #fff;
  scrollbar-width: thin;
}

.scrollable::-webkit-scrollbar {
  width: 4px;
}

.scrollable::-webkit-scrollbar-track {
  width: 4px;
}

.scrollable::-webkit-scrollbar-thumb {
  background: #006CC4;
}
