.my-map-tile:hover {
  // transform: scale(1.05);
}

.x-button-map-tile:hover {
  color: #fff !important;
  border-color: #fff !important;
}

.x-button-x-symbol-map-tile:hover {
  color: #fff !important;
  background-color: #CC271E;
}

.scrollable {
  scrollbar-color: #006CC4 #fff;
  scrollbar-width: thin;
}

.scrollable::-webkit-scrollbar {
  width: 4px;
}

.scrollable::-webkit-scrollbar-track {
  width: 4px;
}

.scrollable::-webkit-scrollbar-thumb {
  background: #006CC4;
}
